<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}Default Title{% endblock %}
        </title>
    </head>
    <body>
        <h1>My site</h1>
        {% block content %}{% endblock %}
    </body>
</html>