{% extends 'polls/niceadmin.html' %}

{% block title %}
    {{ question.question_text }}
{% endblock %}

{% block main_content %}

<h1>
    {{ question.question_text }}
</h1>

<form method="post" action="/polls/{{ question.id }}/vote">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
        <li>
            <input type="radio" name="choice" value="{{ choice.id }}">
            {{ choice.choice_text }} - {{ choice.vote }}
            <br>
        </li>
    {% endfor %}
    <input type="submit" value="Vote this option">
</form>

<form method="post" action="/polls/{{ question.id }}/add_choice">
    {% csrf_token %}
    {{ forms }}
    <input type="submit" value="Add this choice">
</form>


{% endblock %}
