{% extends 'polls/niceadmin.html' %}

{% block main_content %}
    <table class="table">
        <tr><th>ID</th><th>Title</th><th>Date</th></tr>
        {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>
                    <a href="/polls/{{ item.id }}" >
                        {{ item.question_text }}
                    </a>
                </td>
                <td>{{ item.created }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}